## list

### list index

In [ ]:
greeting = 'Hello, World!'
print(greeting[0])
print(greeting[-1])

In [ ]:
fourth = input('Enter the fourth element: ')[3]
print(fourth)

4

### slices

In [15]:
tag = "Python is fun!"
print(tag[4:9])
print(tag[4:]) 
print(tag[-4:])
print(tag[6:-2])  
print(tag[:])

on is
on is fun!
fun!
 is fu
Python is fun!

In [20]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[0:10:2]) 
print(numbers[::4]) 
print(numbers[0:10:-2])
print(numbers[10:0:-2])

[1, 3, 5, 7, 9]
[1, 5, 9]
[]
[10, 8, 6, 4, 2]

### list plus and multiply

In [23]:
print([1, 2, 3] + [4, 5, 6])
print([1, 2, 3] * 3)
print('Hello ' * 5)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
Hello Hello Hello Hello Hello

### in list?

In [28]:
permissions = ['read', 'write', 'execute']
print('read' in permissions)
print('delete' not in permissions)
print('green' in permissions)
stringHello = "$$$ Hello, World!"
print('$$$' in stringHello)

True
True
False
True

In [33]:
database = [['albert', '1234'], ['bob', '5678'], ['charlie', '91011'], ['dave', '1213'], ['eve', '1415']]
username = 'dave'
password = '1213'
if [username, password] in database:
    print('Access granted')
else:
    print('Access denied')

Access granted

### len, max, min

In [41]:
numbers = [1, 2, 3, 4, 5]
print(len(numbers))
print(max(numbers))
print(min(numbers))
print(len('Hello, World!'))

5
5
1
13

### list functions

#### list() to transform a string to list

In [42]:
print(list('Hello, World!'))

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

#### set value for an element of a list

In [43]:
x = [1, 2, 3]
x[0] = 10
print(x)

[10, 2, 3]

#### delete element in a list

In [44]:
x = [1, 2, 3]
del x[1]
print(x)

[1, 3]

#### set slice value

In [48]:
name = list('John')
print(name)
name[2:] = list('ker')
print(name)

['J', 'o', 'h', 'n']
['J', 'o', 'k', 'e', 'r']

#### append

In [49]:
names = ['Alice', 'Bob', 'Charlie']
names.append('David')
print(names)

['Alice', 'Bob', 'Charlie', 'David']

#### count

In [50]:
names = ['Alice', 'Bob', 'Charlie', 'Alice']
print(names.count('Alice'))

2

#### extend

In [51]:
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

#### index

In [54]:
knights = ['Arthur', 'Lancelot', 'Galahad']
print(knights.index('Lancelot'))

1

#### insert

In [55]:
numbers = [1, 2, 3, 4, 5]
numbers.insert(3, 'four')
print(numbers)

[1, 2, 3, 'four', 4, 5]

#### pop

In [56]:
x = [1, 2, 3]
y = x.pop()
print('x:', x, 'y:', y)

x: [1, 2] y: 3

#### remove

In [58]:
x = ['to', 'be', 'or', 'not', 'to', 'be']
x.remove('not')
print(x)
x.remove('be')
print(x)

['to', 'be', 'or', 'to', 'be']
['to', 'or', 'to', 'be']

#### reverse

In [59]:
x = [1, 2, 3]
x.reverse()
print(x)

[3, 2, 1]

#### sort

In [ ]:
x = [5, 2, 9, 1, 4, 6]
y = x.sort()
print(x)
print(y)  # y will be None since sort() modifies the list in place

[1, 2, 4, 5, 6, 9]
None

In [62]:
x = [5, 2, 9, 1, 4, 6]
y = sorted(x)
print(x)
print(y)  # y is a new sorted list, x remains unchanged
print(sorted('Hello, World!'))  # Sorting a string returns a list of characters in

[5, 2, 9, 1, 4, 6]
[1, 2, 4, 5, 6, 9]
[' ', '!', ',', 'H', 'W', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r']

## tuple

### tuple is an unchangable list

In [65]:
(1, 2, 3)  # Tuple with three elements
(1, 2, 3, 4, 5)  # Tuple with five elements
()  # Empty tuple
42,

(42,)

### tuple functions

#### tuple()

In [72]:
x = tuple([1, 2, 3])
print(x)
tuple('abc')
tuple(('d', 'e', 'f'))
tuple((1, 2, 3, 4, 5))  # Tuple with five elements

(1, 2, 3)

(1, 2, 3, 4, 5)